.CompetancyListItem {
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.SubCompetancyList, .CompetancyBundleLabel {
  flex: 0 0 100%;
}
.RolesContainer {
  position: absolute;
  right: 0;
  top: 110px;
}
.RolesContainer .MuiFormGroup-root {
  display: flex;
  width: 300px;
  flex-direction: row;
}
.RolesContainer .MuiFormGroup-root label.MuiFormControlLabel-root {
  display: inline-block;
  width: 100px;
}
.RolesContainer {
  position: absolute;
  right: 0;
}
.pbHide {
  display: none;
}
.pbshow {
  display: block;
}
.displaydate {
  margin: 0 !important;
}
.displaycomp {
  margin: 10px 0px !important;
}
.NewAssessment {
  /* display: span !important; */
  padding-left: 40px;
}
.score-dot {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid rgba(55, 121, 80, 0.5);
  background: rgba(0, 0, 0, 0.7);
  padding-top: 6px;
  height: 40px;
  width: 40px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  top: -49px;
  position: absolute;
  font-size: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.score-dot.coach-bg {
  background: #0c96f3;
  border-color: #0c96f3;
  box-shadow: 2px 2px 10px rgba(12, 150, 243, 0.8);
  z-index: 1;
}
.score-dot.parent-bg {
  background: #686868;
  border-color: #686868;
  box-shadow: 2px 2px 10px rgba(104, 104, 104, 0.8);
}
.sd-green {
  border: 1px solid #000;
  height: 26px;
  position: absolute;
  top: -14px;
  color: #fff;
  right: -14px;
  width: 26px;
  background: rgba(25, 210, 116, 0.85);
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
}
.sd-red {
  border: 1px solid #000;
  height: 26px;
  position: absolute;
  top: -14px;
  color: #fff;
  right: -14px;
  width: 26px;
  background: rgba(234, 57, 67, 0.9);
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
}
.sd-yellow {
  background: rgba(243, 167, 60, 0.9);
  border: 1px solid #000;
  height: 26px;
  position: absolute;
  top: -14px;
  color: #fff;
  right: -14px;
  width: 26px;
  padding-top: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
}
.parent-coach-rating {
  position: relative;
  display: inline-block;
  width: calc(100% - 80px);
}
.parentPosition {
  right: 30px;
}
.alphabet {
  font-size: 23px;
  font-weight: 100;
  position: relative;
  left: -22px;
  top: 6px;
  font-family: serif;
}
.DatesRole {
  position: relative;
}
.DatesRole .MoreBtn {
  position: absolute;
  display: inline;
  border: none !important;
  left: 74%;
  top: 18px;
  color: #1976d2;
}
.modal {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #fff !important;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
.DatesModal .ModalContent {
  padding: 5px;
  margin: 5px;
  margin: 0px;
}
.DatesModal .ModalContent .DatesRole {
  align-self: auto !important;
  width: 186px !important;
  flex-basis: 32% !important;
  max-width: 100%;
}
.hideScoreContainer {
  position: absolute;
  right: 178px;
  top: 135px;
}
.checkboxcontainer {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
}
.assessmentheader{
  margin-left: 20px;
  padding-left: 20px;
  font-size: 30px;
}
.DatesRole{
  padding-left: 20px;
}