.muiltr-518kzi-MuiListItemSecondaryAction-root{
    right: 10% !important;
}
.stroke-header{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #252f3e;
}
.wrapper1{
    float: left;
    width: 65%;
    margin-left: 90px;
    height: 70vh;
    overflow-y: scroll;
}

.wrapper2{
    float: right;
    width: 20%;
}
.paper{
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 70px;
    right: 30%;
}

.btn-select{
    width: 70%;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-delete {
    width: 70%;
    border-radius: 0px;
    position: absolute;
    top: 75%;
    left: 15%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}