/* Vedio start*/

.video-player-container {
    width: 80vw;
    margin: 0 auto 0 auto;
    position: relative;
    left: -18px;
  }
  
  .video-item-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .video-item {
    flex-basis: 48%;
    min-height: 200px;
    margin: 5px;
    border: 1px dashed rgba(15, 20, 130, 0.5);
  }