/* Vedio start*/

.video-player-container {
    width: 66vw;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    position: relative;
    left: -18px;
  }
  
  .video-item-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .video-item {
    flex-basis: 48%;
    height: 300px;
    margin: 5px;
    border: 1px dashed rgba(15, 20, 130, 0.5);
  }


  .video-item input {
    border: 1px solid #000;
  }
  .searchbox-container{
    padding: 0px 0px;
  }
  .searchbox-container input{
    border: 2px solid #ccc;
    width: 100%;
    /* margin: 8px 0; */
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
  }

  .video-submit {
    margin-left: 20px;
    border-radius: 2px !important;
    float: left;
  }

  .video-player-controls {
    float: right;
  }
  .video-player-controls button{
    border: 1.3px solid #212121;
  }

  .video-player iframe{
    height: 260px !important;
  }
  .button-container{
    width: 100%;
  }
    .button-container::after{
      display: block;
      clear: both;
      content: '';
    }

    .select-play{
      margin: 0 10px !important;
      border: 1px solid #212121;
      border-radius: 4px !important;
    }

        input[type="range"] {
          -webkit-appearance: none;
          margin-right: 15px;
          width: 200px;
          height: 7px;
          /* background: rgba(255, 255, 255, 0.6); */
          border-radius: 5px;
      border: 1px solid #212121;
          background-image: linear-gradient(#212121, #212121);
          background-size: 70% 100%;
          background-repeat: no-repeat;
        }
    
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
      border: 1px solid #212121;
          background: #212121;
          cursor: ew-resize;
          box-shadow: 0 0 2px 0 #555;
          transition: background .3s ease-in-out;
        }
    
        input[type=range]::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: transparent;
        }
/* .custom-vid{
  opacity: 0;
  background-color: #000;
} */