/* Vedio start*/

.video-player-container {
    width: 66vw;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    position: relative;
    left: -18px;
  }
  
  .video-item-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .video-item {
    flex-basis: 48%;
    min-height: 200px;
    margin: 5px;
    border: 1px dashed rgba(15, 20, 130, 0.5);
  }


  .video-item input {
    border: 1px solid #000;
  }
  .searchbox-container{
    padding: 10px 20px;
  }
  .searchbox-container input{
    border: 2px solid #ccc;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
  }

  .video-submit {
    margin-left: 20px;
    border-radius: 2px !important;
    float: left;
  }

  .video-player-controls {
    float: right;
  }
  .video-player-controls button{
    border: 1.3px solid #212121;
  }
  .button-container{
    width: 100%;
  }
    .button-container::after{
      display: block;
      clear: both;
      content: '';
    }
