.alert-email {
  color: #ff0055;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.add-email {
  margin-top: 5px !important;
  color: #00cc00;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.welcome-user {
  margin-bottom: 5px !important;
  color: #172217;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.HomePageHeader{
  border-bottom: 3px solid #252f3e;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.searchBtn {
  width: 90px;
  height: 50px;
  border-radius: 0px;
}

.player_data {
  width: 150px;
}
