.alert-email {
  color: #ff0055;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.add-email {
  margin-top: 5px !important;
  color: #00cc00;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.welcome-user {
  margin-bottom: 5px !important;
  color: #172217;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
