.alert-email {
  color: #ff0055;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.add-email {
  margin-top: 5px !important;
  color: #00cc00;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.welcome-user {
  margin-bottom: 5px !important;
  color: #172217;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.HomePageHeader{
  border-bottom: 3px solid #252f3e;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.searchBtn {
  width: 90px;
  height: 50px;
  border-radius: 0px;
  position: relative;
}


.view-player-btn {
  width: 120px;
  height: 50px;
  border-radius: 0px;
  position: relative;
  left: -26px;
  position: relative;
}

/* .view-player-btn::before{
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 7px;
} */

.player_data {
  width: 150px;
}
.displaylist-home{
  display: contents !important;
}

.children-section {
  width: 58%;
}

.color-green-btn {
  width: 90px;
  height: 50px;
  border-radius: 0px;
  background-color: #00cc00;
}

.color-green-btn:hover{
  background-color: #00cc00;
}

.btn_view_player {
  color :#1841d2;
  cursor: pointer;
}

.btn_view_player:hover{
  text-decoration: underline;
}
