#CompetancyDetails {
    padding: 10px 10px 30px 20px;
}

.invalid-weight {
    color: #f00;
}

.player-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-details > table {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.player-details > table tr td {
    padding: 0 10px 0 10px;
    border: 1px solid #ccc;
}

.player-details > table tr td:last-child .muiltr-1qews1p-MuiTypography-root {
    font-weight: 400;
}

.player-details > table tr:first-child td:first-child {
    border-radius: 10px;
}

.player-details .player-content {
    align-content: flex-start;
}
.css-uls1yk-MuiDivider-root {
    display: none;
}

/* .muiltr-uls1yk-MuiDivider-root[role=separator] {
    display: none;
} */
.dot-indicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(122, 20, 188, 0.7);
    border-radius: 10px;
    border: 1px solid #7a14bc;
    animation: glowDot 2s ease-in 0s infinite;
}
.prevDot {
    background-color: #1976d2;
    margin-left: 0px;
    position: relative;
    top: -17px;
    left: 17px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.css-uls1yk-MuiDivider-root {
    display: none;
}

/* .muiltr-uls1yk-MuiDivider-root[role=separator] {
    display: none;
} */

.MuiDivider-root[role=separator] {
    display: none;
}


@keyframes glowDot {
    0% {
        box-shadow: 0px 0px 0px 0px #7a14bc;
   }
    25% {
        box-shadow: 0px 0px 1.5px 1px #7a14bc;
   }
    50% {
        box-shadow: 0px 0px 3px 2px #7a14bc;
   }
    75% {
        box-shadow: 0px 0px 1.5px 1px #7a14bc;
   }
    100% {
        box-shadow: 0px 0px 0px 0px #7a14bc;
   }
}
